@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    opacity: 1;
    font-family: 'Poppins', sans-serif;
    background: url(../img/background.webp);
    background-color: rgba(30, 41, 59);
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main header {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    top: 1%;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}

.main header .angular {
    gap: 20px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main header .angular a {
    gap: 5px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    text-decoration: none;
    text-transform: uppercase;
}

.main header nav {
    gap: 25px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main header nav li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main header nav li small {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.main header nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main header nav li a box-icon {
    width: 30px;
    height: 30px;
}

.main header nav button {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #fff;
    transition: .6s ease;
    cursor: pointer;
}

.main header nav button box-icon {
    width: 20px;
    height: 20px;
}

.main header nav button p {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

/* Container */
.container{
    width: 100%;
    height: 798px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

.container-form {
    width: 384px;
    height: 479px;
    border: 1px solid transparent;
    background-color: rgba(226, 232, 240);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);;
}

.login {
    gap: 15px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 24px;
    flex-direction: column;
}

.login p {
    color: #64748b;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.methods {
    gap: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.methods a {
    gap: 5px;
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.methods a img {
    width: 20px;
    height: 20px;
}

.methods a:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);;
}

/* Form */
.form {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0px 40px 40px;
}

.inputs {
    width: 100%;
    height: 100px;
    position: relative;
}

.error {
    width: 100%;
    height: auto;
    color: red;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    left: 5px;
    bottom: 10px;
}

.form small {
    color: #64748b;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 15px;
}

.form form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.form form label {
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 500;
    text-align: start;
    margin: 0px 0px 10px;
}

.form form input {
    width: 100%;
    height: auto;
    padding: 12px;
    font-size: 12px;
    font-weight: 500;
    text-align: start;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 0px 0px 25px;
    outline: none;
    transition: .6s ease;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

::placeholder {
    color: #1a1a1a;
}

.form form input:focus {
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.check {
    gap: 10px;
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px 0px 20px;
}

.check .checkbox {
    width: 20px;
    height: 18px;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);;
}

.check p {
    color: #64748b;
    font-size: 13px;
    font-weight: 600;
    text-align: start;
}

.form form button {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    transition: .6s ease;
    text-transform: uppercase;
    background-color: #1E293B;
    border: 1px solid transparent;
    border-radius: .5rem;
}

.form form button:hover {
    color: #1E293B;
    border: 1px solid #1E293B;
    background-color: transparent;
}

/* Footer */
footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px; 
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: -26px; 
    left: 0;
}

footer .container-footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.copy {
    width: auto;
    height: auto;
}

.copy a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    text-decoration: none;
}

.texts {
    gap: 30px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texts a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: start;
    text-decoration: none;
}